<header class="site-header">
  <a class="skip" href="#main">Skip to content</a>
  <p class="brand"><a href="{{ '/' | url }}">{{ site.shortTitle }}</a></p>
  <nav aria-label="Primary">
    <ul>
      <li><a href="{{ '/' | url }}">Thesis</a></li>
      <li><a href="{{ '/protocol/' | url }}">Protocol</a></li>
      <li><a href="{{ '/potentials/' | url }}">Potentials</a></li>
      <li><a href="{{ '/error/' | url }}">Error</a></li>
      <li><a href="{{ '/mechanism/' | url }}">Mechanism</a></li>
      <li><a href="{{ '/controls/' | url }}">Controls</a></li>
      <li><a href="{{ '/reproduce/' | url }}">Reproduce</a></li>
      <li><a href="{{ '/cite/' | url }}">Cite</a></li>
    </ul>
  </nav>
</header>
